<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Portfolio</title>
  <link rel="stylesheet" href="/styles/navStyles.css">
  <link rel="stylesheet" href="/styles/gridStyles.css">
</head>

<body>
<header>
  <%- include('./partials/header'); %>
</header>

  <div class="container">
    <h1>Recent Posts</h1>
  </div>
      <div class="image-container">
        <% recPhotos.forEach((photo, index) => { %>
        <div class="image-wrapper" >
        <!-- onclick="showModal('<%= photo.imageUrl %>', '<%= photo.description %>')"> -->
            <img src="<%= photo.imageUrl %>" alt="<%= photo.description %>">
        </div>
        <% }); %>
    </div>

</body>

</html>
